{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid pt-4 ">
    <div class="vh-100 bg-secondary rounded  justify-content-center mx-0">
        <div class="d-flex justify-content-end ">
            <a href="{% url 'add-task'%}" type="button" class="btn btn-outline-success btn-lg me-5 mt-5">Add Task</a>
        </div>
        <div class="table-responsive mt-5 px-1">
            <table class="table table-bordered table-striped">
              <thead class="table-dark">
                <tr>
                  
                  <th>Name</th>
                  <th>Description</th>
                  <th>Assigned To</th>
                  <th>Status</th>
                  <th>Due Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                <tr>
                  
                  <td>{{task.title}}</td>
                  <td>
                    {{task.description}}
                  </td>
                  <td>{{task.assigned_to.name}}</td>
                  <td>{{task.task_status}}</td>
                  <td>
                     {{task.due_date}}
                  </td>
                  <td>
                    <a href="{% url 'task-detail' task.id %}" class="btn btn-primary">Edit</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
    </div>
</div>

{% endblock %}